{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<link href="/static/css/form.css" rel="stylesheet">
<style>
    .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 14px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-contact100">
    <a class="notify-btn topright" href="/"> Go Home
    </a> 
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/home/login/" method="POST">
            {% csrf_token %}
            <span class="contact100-form-title">
                Login Here
            </span>

            <div class="wrap-input100 validate-input">
                <input id="email" class="input100" type="email" name="email" placeholder="Email Address" required>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="password" name="password" placeholder="Password" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button type="submit" class="notify-btn">
                    <span>
                        Login
                    </span>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="notify-btn">
                        <span>
                            Clear
                        </span>
                    </button>
            </div>
        </form>
        <p>Need an account? &nbsp;&nbsp;
            <a href="/home/register/" class="notify-btn">
                <span>
                    Register Here
                </span>
            </a>
        </p>
    </div>
</div>

{% endblock %}