{% extends 'base.html' %}

{% block head %}
<title>Register</title>
<link href="/static/css/form.css" rel="stylesheet">
<style>
    .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 14px;
    }
    label{
        background: transparent;
        font-family: Raleway-SemiBold;
        font-size: 18px;
        color: #333333;
        line-height: 1.2;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-contact100"> 
    <a class="notify-btn topright" href="/"> Go Home
    </a>       
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/home/register/" method="POST">
            {% csrf_token %}
            <span class="contact100-form-title">
                Register Form
            </span>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="name" placeholder="Full Name" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 rs1 validate-input">
                <input class="input100" type="number" name="face_id" placeholder="ID [Must be a number]" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100 rs1 validate-input">
                <input class="input100" type="text" name="email" placeholder="Email Address" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100 rs1 validate-input">
                <input class="input100" type="text" name="phone" placeholder="Contact Number" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100 rs1 validate-input">
                <input class="input100" type="text" name="job" placeholder="Current Occupation" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="address" placeholder="Address" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="bio" placeholder="About You" required>
                <span class="focus-input100"></span>
            </div> 

            <div class="wrap-input100  validate-input">
                <label for="dp">Upload your Profile Picture  </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="dp" type="file" name="image" accept="image/*">
            </div> 
            
            <div class="container-contact100-form-btn">
                <button type="submit" class="notify-btn">
                    <span>
                        Register
                    </span>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="notify-btn">
                        <span>
                            Clear
                        </span>
                    </button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/form.js"></script>

{% endblock %}